name: build

on:
  workflow_dispatch:
  push:

env:
  REPO: champtitles/terraform-aws-s3-inventory-report
  SHA: ${{ github.sha }}
  DOCKER_USERNAME: champtitles
  DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          cache-from: type=registry,ref=${{ env.REPO }}:latest
          cache-to: type=inline
          tags: |
            ${{ env.REPO }}:${{ env.SHA }}
            ${{ env.REPO }}:latest